#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes blink {
  0%, 100% { color: red; }
  50% { color: #646cffaa; }
}

.blink {
  animation: blink 3s linear 0s infinite;
}